{% extends 'navfour.html' %}
{% block content %}
{% load static %}

<!-- <section class="section-content padding-y bg">
    <div class="container"> -->
    
    <!-- ============================ COMPONENT 1 ================================= -->
    
    <!-- <div class="row">
        <aside class="col-lg-9">
    <div class="card">
    <table class="table table-borderless table-shopping-cart">
    <thead class="text-muted">
    <tr class="small text-uppercase">
      <th scope="col">Product</th>
      <th scope="col" width="120">Quantity</th>
      <th scope="col" width="120">Price</th>
      <th scope="col" class="text-right" width="200"> </th>
    </tr>
    </thead>
    <tbody>
    {% for item in cart_items %}
    <tr>
        <td>
            <figure class="itemside align-items-center">
                <div class="aside"><img src="{{item.book.Image.url}}" class="img-sm"></div>
                <figcaption class="info">
                    <a href="#" class="title text-dark">{{item.book.book_name}}</a>
                    <p class="text-muted small">{{item.book.auther_name}}<br></p>
                </figcaption>
            </figure>
        </td>
        <td> 
            <!-- col.// -->
                        <!-- <div class="col"> 
                            <div class="input-group input-spinner">
                                <form action="{% url 'increase_cart' item.id %}" method="post">
                                    {% csrf_token %}
                                    <button class="quantity-btn increase-quantity" type="submit">+</button>
                                </form>
                                <input type="text" class="form-control"  value="{{item.quantity}}">
                                <div class="input-group-append">
                                <form action="{% url 'decrease_cart' item.id %}"  method="post">
                                    {% csrf_token %}
                                    <button class="quantity-btn decrease-quantity" type="submit">-</button>
                                </form>
                                </div>
                            </div>  input-group.// -->
                        </div> <!-- col.// -->
        <!-- </td>
        <td> 
            <div class="price-wrap"> 
                <var class="price">{{total_price}}</var> <br>
                <small class="text-muted"> {{item.book.book_price}} Each </small> 
            </div>  price-wrap .// -->
        </td>
        <!-- <td class="text-right"> 
        <a href="{% url 'remove_cart' item.id %}" class="btn btn-danger"> Remove</a>
        </td>
    </tr>
    {% endfor %}
  
    </tbody>
    </table>

    </div>
    </aside>
    <aside class="col-lg-3">

		<div class="card">
		<div class="card-body">
			<dl class="dlist-align">
			  <dt>Total price:</dt>
			  <dd class="text-right">${{total_price}}</dd>
			</dl>
			<dl class="dlist-align">
			  <dt>Tax:</dt>
			  <dd class="text-right"> $10.00</dd>
			</dl>
			<dl class="dlist-align">
			  <dt>Total:</dt>
			  <dd class="text-right text-dark b"><strong>{{full}}</strong></dd>
			</dl>
			<hr>
			<p class="text-center mb-3"> -->
				<!-- <img src="./images/misc/payments.png" height="26"> -->
			<!-- </p>
			<a href="{% url 'checkout'  %}" class="btn btn-primary btn-block"> Checkout </a>
			<a href="" class="btn btn-light btn-block">Continue Shopping</a> -->
		</div> <!-- card-body.// -->
		<!-- </div>

</aside> col.// --> 
<style>
    @media (min-width: 1025px) {
.h-custom {
height: 100vh !important;
}
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
font-size: 1rem;
line-height: 2.15;
padding-left: .75em;
padding-right: .75em;
}

.card-registration .select-arrow {
top: 13px;
}

.bg-grey {
background-color: #eae8e8;
}

@media (min-width: 992px) {
.card-registration-2 .bg-grey {
border-top-right-radius: 16px;
border-bottom-right-radius: 16px;
}
}

@media (max-width: 991px) {
.card-registration-2 .bg-grey {
border-bottom-left-radius: 16px;
border-bottom-right-radius: 16px;
}
}
</style>
<section class="h-100 h-custom" style="background-color: #d2c9ff;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12">
          <div class="card card-registration card-registration-2" style="border-radius: 15px;">
            <div class="card-body p-0">
              <div class="row g-0">
                <div class="col-lg-8">
                  <div class="p-5">
                    <div class="d-flex justify-content-between align-items-center mb-5">
                      <h1 class="fw-bold mb-0 text-black">Shopping Cart</h1>
                      <h6 class="mb-0 text-muted">{{total}}item</h6>
                    </div>
                    <hr class="my-4">
                    {% for item in cart_items %}
  
                    <div class="row mb-4 d-flex justify-content-between align-items-center">
                      <div class="col-md-2 col-lg-2 col-xl-2">
                        <img
                          src="{{item.book.Image.url}}"
                          class="img-fluid rounded-3" alt="Cotton T-shirt">
                      </div>
                      <div class="col-md-3 col-lg-3 col-xl-3">
                        <h6 class="text-black mb-0">{{item.book.book_name}}</h6></h6>
                        <h6 class="text-muted">{{item.book.auther_name}}</h6>
                      </div>
                      <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                        <button class="btn btn-link px-2">
                            <form action="{% url 'increase_cart' item.id %}" method="post">
                                {% csrf_token %}
                                <button class="quantity-btn increase-quantity btn btn-danger" type="submit">+</button>
                            </form>
                            <input type="text"   value="{{item.quantity}}" style="width: 20px;">
                            
                        </button>
  
                          <form action="{% url 'decrease_cart' item.id %}"  method="post">
                            {% csrf_token %}
                            <button class="quantity-btn decrease-quantity btn btn-danger" type="submit" >-</button>
                        </form>
  
                        
                      </div>
                      <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                        <h6 class="mb-0">{{item.book.book_price}}</h6>
                      </div>
                      <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                        <a href="{% url 'remove_cart' item.id %}" class="btn btn-danger"> Remove</a>
                      </div>
                    </div>
                    {% empty %}
                            <p>Your cart is empty.</p>
                    {% endfor %}
  
                    <!-- <hr class="my-4">
  
                    <div class="row mb-4 d-flex justify-content-between align-items-center">
                      <div class="col-md-2 col-lg-2 col-xl-2">
                        <img
                          src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-shopping-carts/img6.webp"
                          class="img-fluid rounded-3" alt="Cotton T-shirt">
                      </div>
                      <div class="col-md-3 col-lg-3 col-xl-3">
                        <h6 class="text-muted">Shirt</h6>
                        <h6 class="text-black mb-0">Cotton T-shirt</h6>
                      </div>
                      <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                        <button class="btn btn-link px-2"
                          onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                          <i class="fas fa-minus"></i>
                        </button>
  
                        <input id="form1" min="0" name="quantity" value="1" type="number"
                          class="form-control form-control-sm" />
  
                        <button class="btn btn-link px-2"
                          onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                          <i class="fas fa-plus"></i>
                        </button>
                      </div>
                      <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                        <h6 class="mb-0">€ 44.00</h6>
                      </div>
                      <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                        <a href="#!" class="text-muted"><i class="fas fa-times"></i></a>
                      </div>
                    </div> -->
  
                    <!-- <hr class="my-4">
  
                    <div class="row mb-4 d-flex justify-content-between align-items-center">
                      <div class="col-md-2 col-lg-2 col-xl-2">
                        <img
                          src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-shopping-carts/img7.webp"
                          class="img-fluid rounded-3" alt="Cotton T-shirt">
                      </div>
                      <div class="col-md-3 col-lg-3 col-xl-3">
                        <h6 class="text-muted">Shirt</h6>
                        <h6 class="text-black mb-0">Cotton T-shirt</h6>
                      </div>
                      <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                        <button class="btn btn-link px-2"
                          onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                          <i class="fas fa-minus"></i>
                        </button>
  
                        <input id="form1" min="0" name="quantity" value="1" type="number"
                          class="form-control form-control-sm" />
  
                        <button class="btn btn-link px-2"
                          onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                          <i class="fas fa-plus"></i>
                        </button>
                      </div>
                      <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                        <h6 class="mb-0">€ 44.00</h6>
                      </div>
                      <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                        <a href="#!" class="text-muted"><i class="fas fa-times"></i></a>
                      </div>
                    </div>
   -->
                    <hr class="my-4">
  
                    <div class="pt-5">
                      <h6 class="mb-0"><a href="{% url 'userhome' %}" class="text-body"><i
                            class="fas fa-long-arrow-alt-left me-2"></i>Back to shop</a></h6>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 bg-grey">
                  <div class="p-5">
                    <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                    <hr class="my-4">
  
                    <div class="d-flex justify-content-between mb-4">
                      <h6 class="text-uppercase">items {{total}}</h6>
                      <h6>Rs:{{total_price}}</h6>
                    </div>
  
                    <!-- <h5 class="text-uppercase mb-3">Shipping</h5>
  
                    <div class="mb-4 pb-2">
                      <select class="select">
                        <option value="1">Standard-Delivery- €5.00</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                        <option value="4">Four</option>
                      </select>
                    </div> -->
  
                    <!-- <h5 class="text-uppercase mb-3">Give code</h5>
  
                    <div class="mb-5">
                      <div class="form-outline">
                        <input type="text" id="form3Examplea2" class="form-control form-control-lg" />
                        <label class="form-label" for="form3Examplea2">Enter your code</label>
                      </div>
                    </div> -->
  
                    <hr class="my-4">
  
                    <div class="d-flex justify-content-between mb-5">
                      <h5 class="text-uppercase">Total price</h5>
                      <h5>Rs: {{total_price}}</h5>
                    </div>
  
                   <!-- <button type="button" class="btn btn-dark btn-block btn-lg"
                      data-mdb-ripple-color="dark"> <a href="{% url 'checkout'  %}">Checkout</button></a> -->
                    <a href="{% url 'checkout'  %}" class="btn btn-primary btn-block"> Checkout </a>
  
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


 
</body>
{% endblock %}
