{% extends 'navone.html' %}
{% block content %}
{% load static %}
<!-- <style>
     *{
    box-sizing: border-box;
    font-family: "Merriweather Sans", sans-serif;
 }
 #form{
       color: white;
       
       background-color:rgba(191, 136, 94, 0.93);
       border-radius: 5px;
       
       width: 400px;
       padding: 40px;
       margin: 50px auto;
       
       -webkit-box-shadow: -1px 3px 18px 0px rgba(0,0,0,0.75);
       -moz-box-shadow: -1px 3px 18px 0px rgba(0,0,0,0.75);
       box-shadow: -1px 3px 18px 0px rgba(0,0,0,0.75);
       
 }
 label{
   color: rgb(43, 46, 220);
 }
 input[type=text]{
         width: 300px;
     }
 input[type=number]{
         width: 300px;
     }
input[type=tel]{
         width: 300px;
     }
     button[type=submit]{
       width: 300px;
        background-color:white;
     }
     h3{
       text-align: center;
     }
     body{ 
      background-color: slateblue;
      background-image: url("{% static 'images/image1.jpg' %}");
      background-repeat:no-repeat ;
      background-size: cover;
    
     }
     input[type=email]{
        width: 300px;
    }
    input[type=password]{
        width: 300px;
    } 
 </style>  -->
<body>
     <!-- {% for message in messages %}
      <h5>{{message}}</h5>
    {% endfor %}
    <div>
        <form id="form" action="{% url 'add_signup' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h3 style="color: rgb(43, 46, 220);" >Register Here!!!</h3>
         
            <div class="form-group">
               <label for="name">First Name</label>
               <br />
               <div class="input-group">
                  <div class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i>            </div>
                  <input type="text" id="name" placeholder="Enter the  name" name="firstname"  required/>
                  </div>
               </div>
               <div class="form-group">
                <label for="name">Last Name</label>
                <br />
                <div class="input-group">
                   <div class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i>            </div>
                   <input type="text" id="name" placeholder="Enter the name" name="lastname"  required/>
                   </div>
                </div>
                <div class="form-group">
                    <label for="name">Username</label>
                    <br />
                    <div class="input-group">
                       <div class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i>            </div>
                       <input type="text" placeholder=" Enter the username" name="username" required pattern="[a-z]{4,6}" maxlength="8"/>
                       </div>
                    </div>
                    
                        <div class="form-group">
                            <label for="name">Contact Number </label>
                            <br />
                            <div class="input-group">
                               <div class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i>            </div>
                               
                               
                               <input type="tel" name="number" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required placeholder="xxx-xxx-xxxx" >
                               Format:(123-456-7890)
                              </div>
                            </div>
                            <div class="form-group">
                                <label for="name">Email</label>
                                <br />
                                <div class="input-group">
                                   <div class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i>            </div>
                                   <input type="email" id="email" placeholder=" Enter the email" name="email" required/>
                                   </div>
                                </div>

                                        <div class="form-group">
                                            <label for="name"> Image</label>
                                            <br />
                                            <div class="input-group">
                                               <div class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i>            </div>
                                               <input type="file" name="file" accept="image/*" required>

                                               </div>
                                            </div>
                                            <button type="submit" value="submit">Register</button> -->
                                            <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
                                              Launch demo modal
                                            </button>
                                            <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                              <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                  <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                      <span aria-hidden="true">&times;</span>
                                                    </button>
                                                  </div>
                                                  <div class="modal-body">
                                                    ...
                                                  </div>
                                                  <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    <button type="button" class="btn btn-primary">Save changes</button>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                              

                                              -->

                                  
                      
                         <!-- <button type="submit">Register</button> -->
    <!-- </div> -->
    <style>

body{
  background-color: white;
}
     
    </style>
{% if messages %}
<div class="messages">
  {% for message in messages %}
  <div class="alert {% if message.tags %}alert-{{ message.tags }}"{% endif %}>
    {{ message }}
  </div>
  {% endfor %}
</div>
{% endif %}


<section class="vh-100 gradient-custom">
  <div class="container py-5 h-120">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card  text-white" style="border-radius: 1rem; background-color: blueviolet;" >
          <div class="card-body p-5 text-center">

            <div class="mb-md-5 mt-md-4 pb-5">
              <form id="form" action="{% url 'add_signup' %}" method="post" enctype="multipart/form-data" >
                {% csrf_token %}

              <h4 class="fw-bold mb-2 text-uppercase">Register Here!!</h4>
             

              <div class="form-outline form-white mb-4">
                <input type="text" id="typeEmailX" class="form-control form-control-m" placeholder="Fist name" name="firstname" required/>
                
              </div>
              <div class="form-outline form-white mb-4">
                <input type="text" id="typeEmailX" class="form-control form-control-m" placeholder="Last name" name="lastname" required style="color: black;"/>
                
              </div>
              <div class="form-outline form-white mb-4">
                <input type="email" id="typeEmailX" class="form-control form-control-sm" placeholder="Email" name="email" required  style="color: black;" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[cC][oO][mM]$"/>
                
              </div>
              <div class="form-outline form-white mb-4">
                <input type="text" id="typeEmailX" class="form-control form-control-m" placeholder="Username" name="username" required pattern="[a-z]{4,8}" maxlength="8" style="color: black;" title="contain only alphabets with maximum length eight"/>
                
              </div>

              <div class="form-outline form-white mb-4">
                <input type="tel" id="phonenumX" class="form-control form-control-m" placeholder="phone" name="number" required   style="color: black;" pattern="[1-9]{1}[0-9]{9}" title="number must contain 10 digit" />
                

                
                
               
              </div>
              <div class="form-outline form-white mb-4">
                <input type="file" id="typePasswordX" class="form-control form-control-m"  name="file" accept="image/*" required/>
               
              </div>

              <!-- <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="#!">Forgot password?</a></p> -->
                <button class="btn btn-outline-light btn-lg px-5" type="submit">Sign Up</button>
            </form>
            </div>

            <div>
              <p class="mb-0">Do you want to Sign In ?<a href="{% url 'signin' %}" class="text-white-50 fw-bold">Log In</a>
              </p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>


    
    
</body>
{% endblock %}
</html>